body{
    height: 100vh;
    width: 99%;
}

section{
 border-left: 10px solid silver;
  border-right: 10px solid silver;
}
header{
  height: auto;
    background-color: white;
    display: flex;
    width: 100%;
 
}
.logo{
    width: 60%;
    height: auto;
}
.logo img{
    width: 100%;
    height: 100%;
 
}
.rightcontainer{

   margin-left: 120px;
 padding-top: 10px;
}
.rightcontainer h1{
    font-family: sans-serif;
    color: red;
    font-size: 25px;
    letter-spacing: 1px;
    margin-top: 0;
    margin-bottom: 0;
}
hr{
    height: 2px;
    margin-top: 0;
    margin-bottom: 0;
    background-color: black;
}
.rightcontainer h2{
    font-size: 50px;
 letter-spacing: 2px;
    margin-top: 0;
    margin-bottom: 0;
    font-family:  sans-serif;
}
.rightcontainer p{
    margin-top: 0;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 700;
    margin-top: 5px;
}

.navbar{
    height: 50px;
    background-color: #a5180b;
}
nav ul {
  list-style: none;  /* bullets hata do */
  display: flex;     /* side-by-side laao */
  gap: 20px;         /* thodi space de do */
}

nav li {
  font-size: 20px;
}
